---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  margin-top: 1rem;
}



body {
	background: $white;
  color: $darkGray;
  font: 20px/1.4 $lato;
}

.container {
  margin: 0 auto;
  max-width: 806px;
  padding: 0 2px;
  width: 100%;
  .page {
      padding-top: 3rem;
  }
  @include mobile {
      padding: 0 27px;
      .page {
          padding-top: 1rem;
      }
  }
}

hr {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    @include mobile {
    line-height: 1.4;
  }
}

h1 {
    font-family: $lato;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    a {
        color: inherit;
    }
}

h2 {
  font-size: 26px;
  margin: 24px 0 10px 0;
}

h3 {
    margin-bottom: 11px;
}

h4 {
  font-size: 20px;
  color: $darkGray;
  padding-top: 3px;
  font-style: italic;
  margin-bottom: 0;
}

p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 2px 0 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
  font-weight: 300;
}

ol {
  list-style-type: decimal;
  li {
      font-weight: 300;
  }
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

a+a {
    border-left: 1px solid $gray;
    padding-left: 6px;
}
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
    border: 1px solid #e9ecef;
    border-style: none;
    max-width: 100%;
}
// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $gray;
  font-size: 13px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
    color: $darkGray;
    margin-bottom: 24px;
}

.masthead {
  border-bottom: 1px solid transparent;
  color: $darkerGray;
    @include mobile {
    text-align: center;
    margin: 20px 0px;
  }
}

.site-avatar {
  float: left;
  width: 90px;
  height: 90px;
  margin: 30px 19px 0 0;

  @include mobile {
    float: none;
    font-size: 70px;
    display: block;
    margin: 3px auto 24px auto;
  }
}

.site-info {
  float: left;
  margin: 20px 0px 12px 2px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkerGray;
  cursor: pointer;
  font-family: $lato;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 2px;
  @include mobile {
      font-size: 45px;

  }
}

@include mobile {
  font-weight: 600;
}

.site-description {
  margin: -9px 0 0 1px;
  color: $darkGray;
  font-family: $lato;
  font-size: 32px;
  font-weight: 300;
  @include mobile {
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto;
    }
}

nav {
  float: right;
  font-family: $lato;
  font-size: 24px;
  margin: 68px 23px 0 0; // @TODO: Vertically middle align
  @include mobile {
    float: none;
    margin: 11px 0 9px 0;
    display: block;
    font-size: 22px;
  }

  a {
    font-family: $sourceSansPro;
    color: $gray;
    @include mobile {
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
    border-bottom: 1px dotted $gray;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 3rem 0 1rem 0;
    @include mobile {
        padding: 1rem 0 1rem 0;
    }
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $lightGray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
    text-transform: uppercase;
  }
}
article {
    padding-top: 3rem;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $darkGray;
  border-bottom: 1px solid $darkGray;
  background-color: $darkGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
